<div class="left-half col-xs-1 col-md-1 col-lg-1 col-xl-1">
</div>
<div class="col-xs-10 col-md-10 col-lg-10 col-xl-10">
  <img class="show-photo" src="<%= photo.get('url') %>">

</div>
<div class="col-xs-1 col-md-1 col-lg-1 col-xl-1">
</div>
