<body>
  <h1 class="main-title">
    <a href="#">PictoLater</a>

    <%= button_to "Sign Out", session_url, method: :delete, class: "add-button" %>
  </h1>

  <div id="main">

  </div>


  <script>
    $(Pictolater.initialize);
  </script>
</body>
