
  <div class='row'>
    <div class="col-xs-6 col-lg-2 col-xl-2">
    </div>
    <div class="col-xs-6 col-lg-8 col-xl-8">
      <ul style="list-style-type: none;
          text-align: center;
          width: 500px;
          height: 500px;
          overflow: hidden;
          margin: 0px auto;
          "
          class="thumbnail-feed fancybox">
          <a href="#photos/<%= photo.id %>">

            <img src="<%= source %>">

          </a>
        <li>
          <a href="#/profiles/<%= photo.get('owner_id') %>">
            <%= currentUser %>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 col-xl-2">
    </div>
  </div>
