<div class='row photo-row'>
  <div class="col-xs-1 col-md-3 col-lg-3 col-xl-3">
  </div>
  <div class="col-xs-10 col-md-6 col-lg-6 col-xl-6">
    <div class="photo-holder">
    </div>

    <div class="comments-holder">
    </div>
  </div>
  <div class="col-xs-1 col-md-3 col-lg-3 col-xl-3">
  </div>
</div>
