<div class="row header">
  <div class="profile-header col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <button id="follow-button"></button>
  </div>
</div>
<div class="row profile-photos-holder">

</div>
